@media (max-width: 980px) {
    .content-wrap {
        width: 900px;
        margin: 0 auto;
    }

    /* is there an easier way to move the footer? */
    .wrapper {
        min-height: 80%;
        margin-bottom: 0;
    } 

    img {
        max-width: 175px;
    }

    #about {
        width: 600px;
        float: left;
        margin: 0 50px;
    }

    #portfolio {
        width: 600px;
        float: left;
        margin: 0 50px;
    }

    #contact {
        width: 600px;
        float: left;
        margin: 0 50px;
    }

}

@media (max-width: 768px) {
    .content-wrap {
        width: 718px;
        margin: 0 auto;
    }

    /* is there an easier way to move the footer? */
    .wrapper {
        min-height: 80%;
        margin-bottom: 0;
    } 

    img {
        max-width: 150px;
    }

    #about {
        width: 658px;
        float: left;
        margin: 0 25px;
    }

    #portfolio {
        width: 658px;
        float: left;
        margin: 0 25px;
    }

    #contact {
        width: 658px;
        float: left;
        margin: 0 25px;
    }

}

@media (max-width: 640px) {

}